---
#
# Include the shared gitlab CI definitions
#
include:
  - project: 'enterprisemodules/gitlab_ci'
    file: 'gitlab-ci.yml'

multi_home_and_db_demo_check:
  extends: .demo_check
  variables:
    server: ml-dbxxx
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-dbxxx|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-dbxxx|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

db230_demo_check:
  extends: .demo_check
  variables:
    server: ml-db230
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-db230|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-db230|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

db210_demo_check:
  extends: .demo_check
  variables:
    server: ml-db210
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-db210|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-db210|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

cl190_demo_check:
  extends: .demo_check
  variables:
    server: ml-cl190
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-cl190|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-cl190|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

db190_demo_check:
  extends: .demo_check
  variables:
    server: ml-db190
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-db190|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-db190|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

db180_demo_check:
  extends: .demo_check
  variables:
    server: ml-db180
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-db180|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-db180|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

db122_demo_check:
  extends: .demo_check
  variables:
    server: ml-db122
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-db122|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-db122|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

db121_demo_check:
  extends: .demo_check
  variables:
    server: ml-db121
  before_script:
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - BOX=$(vagrant global-status|grep ml-db121|awk '{print $1}'); DIR=$(vagrant global-status|grep ml-db121|awk '{print $5}'); cd ${DIR}; vagrant destroy -f ${BOX:-ml-dummy}
    - vagrant prepare $server

# windb190_demo_check:
#   extends: .demo_check
#   variables:
#     server: ml-windb190
#   before_script:
#     - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
#     - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
#     - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
#     - vagrant prepare $server
