---
#
# Include the shared gitlab CI definitions
#
include:
  - project: 'enterprisemodules/gitlab_ci'
    file: 'gitlab-ci.yml'

multi_home_and_db_demo_check:
  extends: .demo_check
  variables:
    server: ml-dbxxx
  before_script:
    - vboxmanage controlvm ml-dbxxx poweroff 2>/dev/null || true
    - vboxmanage unregistervm ml-dbxxx --delete-all 2>/dev/null || true
    - rm -rf /home/gitlab-runner/VirtualBox\ VMs/ml-dbxxx
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - vagrant prepare $server

db230_demo_check:
  extends: .demo_check
  variables:
    server: ml-db230
  before_script:
    - vboxmanage controlvm ml-db230 poweroff 2>/dev/null || true
    - vboxmanage unregistervm ml-db230 --delete-all 2>/dev/null || true
    - rm -rf /home/gitlab-runner/VirtualBox\ VMs/ml-db230
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - vagrant prepare $server

db210_demo_check:
  extends: .demo_check
  variables:
    server: ml-db210
  before_script:
    - vboxmanage controlvm ml-db210 poweroff 2>/dev/null || true
    - vboxmanage unregistervm ml-db210 --delete-all 2>/dev/null || true
    - rm -rf /home/gitlab-runner/VirtualBox\ VMs/ml-db210
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - vagrant prepare $server

cl190_demo_check:
  extends: .demo_check
  variables:
    server: ml-cl190
  before_script:
    - vboxmanage controlvm ml-cl190 poweroff 2>/dev/null || true
    - vboxmanage unregistervm ml-cl190 --delete-all 2>/dev/null || true
    - rm -rf /home/gitlab-runner/VirtualBox\ VMs/ml-cl190
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - vagrant prepare $server

db190_demo_check:
  extends: .demo_check
  variables:
    server: ml-db190
  before_script:
    - vboxmanage controlvm ml-db190 poweroff 2>/dev/null || true
    - vboxmanage unregistervm ml-db190 --delete-all 2>/dev/null || true
    - rm -rf /home/gitlab-runner/VirtualBox\ VMs/ml-db190
    - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
    - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
    - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
    - vagrant prepare $server

# db180_demo_check:
#   extends: .demo_check
#   variables:
#     server: ml-db180
#   before_script:
#     - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
#     - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
#     - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
#     - vagrant prepare $server

# db122_demo_check:
#   extends: .demo_check
#   variables:
#     server: ml-db122
#   before_script:
#     - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
#     - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
#     - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
#     - vagrant prepare $server

# db121_demo_check:
#   extends: .demo_check
#   variables:
#     server: ml-db121
#   before_script:
#     - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
#     - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
#     - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
#     - vagrant prepare $server

# windb190_demo_check:
#   extends: .demo_check
#   variables:
#     server: ml-windb190
#   before_script:
#     - echo -e "machine gitlab.com\nlogin gitlab-ci-token\npassword ${CI_JOB_TOKEN}" > .netrc
#     - if [ "$USE_LATEST_MODULES" == "yes" ]; then touch ./use_latest_modules ; fi
#     - if [ $PUPPET_VERSION ]; then echo $PUPPET_VERSION > ./puppet_version ; fi
#     - vagrant prepare $server
